
<div>
  <md-toolbar color="primary">
    <span><md-icon>restaurant</md-icon></span>

    <span>Morfi Ya!</span>

    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>
  <md-menu x-position="before" #menu="mdMenu">
    <a md-menu-item class="button" routerLink="/maps" routerLinkActive="active">Maps</a>
  </md-menu>


  <div class="container">

    <div class="ui steps">
      <div class="step button" routerLink="/maps" routerLinkActive="active">
        <i class="truck icon"></i>
        <div class="content">
          <div class="title">Shipping</div>
          <div class="description">Choose your location</div>
        </div>
      </div>
      <div class="step">
        <i class="payment icon"></i>
        <div class="content">
          <div class="title">Billing</div>
          <div class="description">Enter billing information</div>
        </div>
      </div>
      <div class="disabled step">
        <i class="info icon"></i>
        <div class="content">
          <div class="title">Confirm Order</div>
        </div>
      </div>
    </div>

  </div>


</div>


<router-outlet></router-outlet>
